@import '../../node_modules/normalize.css/normalize.css';
@import 'variables.css';
@import 'base.css';

.App {
  display: flex;
  flex-direction: column;
  background-color: var(--colors-bluegrey);
  height: 100vh;
  overflow: hidden;
}

.App-pageContent {
  flex-grow: 1;
  display: flex;
}

/**
 * HACK, hide some crud at bottom of page, this needs
 * to be removed once problems are resolved.
 */
#bp1 {
  position: absolute;
  left: -10000px;
}
