form.authenticate-form {
  width: 30rem;
  margin: 0 1rem 1rem 1rem;
  background-color: white;
  padding: 1rem;
}
form.authenticate-form .row {
  margin-bottom: 1rem;
}
form.authenticate-form label {
  font-weight: bold;
  width: 40%;
  display: inline-block;
}
form.authenticate-form input {
  width: 60%;
  display: inline-block;
}
form.authenticate-form .right {
  margin-top: 2rem;
  text-align: right;
}
form.authenticate-form h1 {
  color: lightgray;
  font-size: 2rem;
  margin: 0 0 1rem 0;
}
