@import './variables.css';

.authentication-form {
  width: 500px;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;

  * {
    width: 80%;
    margin-bottom: 0.5rem;
    border-radius: var(--modal-radius);
  }

  .title {
    font-size: var(--modal-element-height * 0.5);
    color: var(--modal-textcolor);
    text-align:center;
    margin-top: 1rem;
    margin-bottom: 2rem !important;
  }

  input {
    height: var(--modal-element-height);
    font-size: var(--modal-fontsize);
    border-radius: var(--modal-radius);
    border: 1px solid whitesmoke;
    background-color: var(--modal-inputcolor);
    text-indent: 0.5rem;
    outline: none;
    color: var(--modal-primarycolor);
  }
  input:focus {
    border: 1px solid lightgray;
  }

  button {
    height: var(--modal-element-height);
    font-size: var(--modal-fontsize);
    border-radius: 0;
    cursor: pointer;
  }
  button[type="button"]  {
    background-color: white;
    border: none;
    color: textcolor;
  }
  button[type="submit"] {
    background-color: var(--modal-primarycolor);
    color: white;
    border: none;
  }
  /* errors are hidden by default, add the .visible class to make them appear*/
  .error {
    color: transparent;
    font-size: var(--modal-fontsize);
    text-align: center;
  }
  .visible {
    color: var(--modal-errorcolor);
  }
  label {
    font-size: var(--modal-fontsize);
    color: var(--modal-textcolor);
  }
  .checkbox {
    display: flex;
    align-items: center;
  }
  .checkbox span {
    font-size: var(--modal-fontsize);
    white-space: nowrap;
    margin: 3px 0 0 0.5rem;
    color: var(--modal-textcolor);
  }
  .checkbox input {
    width: 1rem;
    height: auto;
    margin-bottom: 0;
  }
  .checkbox a {
    color: dodgerblue;
  }
  a {
    font-size: var(--modal-fontsize);
    color: var(--modal-textcolor);
    text-decoration: none;
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
  }

}
