@import 'variables.css';

.cvc-drop-target {
  padding: 2rem 0 2rem 0;
  margin: 1rem 12px 3rem 12px;
  font-size: var(--font-size-sectionLabel);
  font-family: var(--font-family-base);
  border: 1px solid var(--colors-blueGreyMed);
  color: var(--colors-blueGreyMed);
  text-align: center;
  transition: color var(--timing-fast) ease-in-out, background-color var(--timing-fast) ease-in-out, border-color var(--timing-fast) ease-in-out;
  cursor: default;
}
.cvc-hovered {
  border: 1px solid var(--colors-selected);
  background-color: var(--colors-blueGreyMed);
  color: var(--colors-blueGreyLighter);
}
