@import './variables.css';

.ExtensionPicker {
  /* hack to handle duncan's stupid cSS */
  div {
    width: inherit;
  }

  &-header {
    border-bottom: 1px solid var(--colors-greyMedLight);
  }

  &-list {
    display: table;
    width: 100%;
  }

  &-row {
    display: table-row;
  }

  &-cell {
    display: table-cell;
    color: var(--colors-greyMedLight);
    text-align: center;
    font-size: var(--font-size-sectionLabel)
  }

  &-Name {
    color: var(--colors-grey);
  }

  &-toggle {
    width: auto;
    text-align: center;
    vertical-align: middle;
  }
}