@import './variables.css';

div.ExtensionPicker {
  /* hack to handle duncan's stupid cSS */
  div {
    width: inherit;
  }

  &-header {
    font-weight: bold;
  }

  &-list {
    display: table;
    width: 100%;
  }

  &-row {
    display: table-row;
  }

  &-cell {
    display: table-cell;
    color: var(--colors-greyMedLight);
    text-align: center;
  }

  &-name {
    color: var(--colors-grey);
    font-weight: 500;
    text-align: right;
  }

  &-toggle {
    vertical-align: middle;
  }
}