@import './variables.css';


.genbank-import-form {
  width: 700px;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;

  * {
    margin-bottom: 0.5rem;
    border-radius: var(--modal-radius);
  }

  .dropzone {
    width: 50%;
    height: 10rem;
    border-radius: var(--modal-radius);
    background-color: var(--modal-inputcolor);
    border: none;
    margin: 1rem 0 1rem 0;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  .dropzone-hot {
    background-color: var(--modal-textcolor);
  }
  .dropzone:hover {
    background-color: var(--modal-textcolor);
  }
  .dropzone-text {
    font-size: 3rem;
    color: white;
    line-height: 10rem;
  }
  .file-name {
    color: var(--modal-textcolor);
    font-size: 0.9rem;
  }

  .form-buttons {
    margin-top: 2rem;
  }


  .title {
    font-size: var(--modal-element-height * 0.5);
    color: var(--modal-textcolor);
    text-align:left;
    margin-top: 1rem;
    margin-bottom: 2rem !important;
  }

  .error {
    font-size: var(--modal-fontsize);
    color: var(--modal-errorcolor);
  }

  .input {
    height: var(--modal-element-height);
    font-size: var(--modal-fontsize);
    border-radius: var(--modal-radius);
    color: var(--modal-primarycolor);
  }

  input[type="radio"] {
    display: inline-block;
    width: auto;
  }

  .radio {
    display: inline-block;
    text-align: center;
    margin-bottom: 0;

    div {
      font-size: var(--modal-fontsize);
      color: var(--modal-textcolor);
      margin-left: 1rem;
      margin-top: 2px;
      width: 10rem;
      display: inline-block;
      text-align: left;
    }
  }

  button {
    height: var(--modal-element-height);
    font-size: var(--modal-fontsize);
    border-radius: 0;
    cursor: pointer;
  }
  button[type="button"]  {
    background-color: white;
    border: none;
    color: textcolor;
  }
  button[type="submit"] {
    background-color: var(--modal-primarycolor);
    color: white;
    border: none;
  }
}
