@import 'variables.css';

:root {
  /* component variable declarations */
}

.GlobalNav {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  background-color: white;

  &-title {
    color: white;
    background-color: rgb(189, 130, 113);
    text-align: center;
    height: var(--GlobalNav-width-chrome);
    width: var(--GlobalNav-width-chrome);
    line-height: var(--GlobalNav-width-chrome + 4px);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 100;
  }

  &-action {
    padding: 0 1rem 0 1rem;
    line-height: var(--GlobalNav-width-chrome);
    &:not([disabled]):hover {
      cursor: pointer;
      background-color: var(--colors-selected);
    }
  }

  &-spacer {
    flex-grow: 1;
  }
}
