:root {
--footer-height: 13rem;
--button-height: 3rem;
}

.homepage {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;

  &-image-area {
    width: 100vw;
    height: calc(100% - var(--footer-height));
    position: relative;
  }
  &-background {
    width: 100vw;
    height: 100%;
  }
  &-title {
    width: 321px;
    height: 29px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110px);
  }
  &-getstarted {
    position: absolute;;
    top: 50%;
    left: 50%;
    height: var(--button-height);
    line-height: var(--button-height);
    border-radius: var(--button-height / 2);
    padding: 0 6rem 0 6rem;
    transform: translateX(-50%);
    font-size: 1.25rem;
    color: black;
    background-color: #FF3366;
    cursor: pointer;
    white-space: nowrap;
  }
  &-getstarted:hover {
    opacity: 0.8;
  }

  &-autodesk {
    width: 90px;
    height: 15px;
    position: fixed;
    top: calc(100vh - 16rem);
    left: 2rem;
  }

  &-egf {
    position: fixed;
    top: calc(100vh - 16.14rem);
    left: 12rem;
    color: rgba(255,255,255, 0.25);
    font-size: 13px;
    letter-spacing: 0.5px;
  }

  &-footer {
    position: fixed;
    color: white;
    top: calc(100% - var(--footer-height));
    width: 100%;
    background-color: #565B69;
    height: var(--footer-height);
    overflow-x: scroll;
  }
  &-footer ul {
    list-style: none;
    white-space: nowrap;
  }
  &-footer ul span {
    margin-right: 1rem;
  }
  &-footer li {
    margin-bottom: 0.25rem;
  }
  &-footer-list {
    display: flex;
    justify-content: center;
  }
  &-footer-title {
    text-align: center;
    margin-top: 1rem;
  }
}
