.importdnaform {
  width: 500px;

  textarea {
    font-size: 1.25rem;
    font-family:monospace;
    border-radius: var(--radius);
    border: 1px solid whitesmoke;
    background-color: var(--inputcolor);
    outline: none;
    color: gray;
  }

  textarea:focus {
    border: 1px solid lightgray;
  }
}
