@import './variables.css';

.Inspector {
  &-trigger {
    background-image: url('/images/ui/inspector_icon.svg');
  }
}

.InspectorContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}