@import './variables.css';

.Inspector {
  &-trigger {
    background-image: url('/images/ui/inspector_icon.svg');
  }
}

.InspectorContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: var(--colors-greyLight);

  &-heading {
    font-size: var(--font-size-text);
    color: var(--colors-grey);
    font-weight: 500;
    margin: 1.25em 0 0.4em;
  }

  &Block {

    &-Annotations {
      display: block;
    }

    &-Annotation {
      display: inline-block;
      padding: 2px 4px;
      margin: 2px;
      border-radius: 2px;
      color: var(--colors-grey);
      background-color: var(--colors-white);

      &:hover {

      }
    }
  }
}