@import 'variables.css';

.InventoryGroupProjects {

  &-item {

    &-toggle {
      width: 10px;
      height: 10px;
      display: inline-block;
      margin-right: 0.5em;
      background-image: url('/images/ui/disclosure_triangle_closed.svg');
      background-position: top left;
      background-repeat: no-repeat;
      background-size: contain;
      transition: transform var(--timing-extrafast) ease-out;

      &.expanded {
        transform: rotate(90deg);
      }
    }

    &-title {

      &.active {
        color: var(--colors-selected);
      }
    }

    &-contents {
      margin-left: 1.5em;
    }
  }
}