@import 'variables.css';

.InventorySources {
  position: relative;
  color: var(--colors-grey);
  transition: color var(--timing-fast) ease-out;
  padding-bottom: 1em;
  flex-shrink: 0;

  &-cog {
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: 0.5em;
    opacity: 0.5;
    background-image: url('/images/ui/gear.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity var(--timing-fast) ease-out;
  }

  &-sources {
    margin-left: 2em;
  }

  &-source {
    padding: 0.25em;
  }

  &-toggler {
    margin-right: 0.5em;
  }

  &.expanded {
    color: var(--colors-blueGreyLighter);

    .InventorySources-cog {
      opacity: 0.9;
    }
  }
}