@import './variables.css';

.InventorySearch {
  input,
  input:focus {
    width: 100%;
    outline: 1px solid white;
    margin: 0 0 0.5em;
    padding: 0.25em;
    background: transparent;
    color: white;
    border: 0;
  }

  input:focus {
    outline-offset: 0;
    outline: 1px solid var(--colors-selected);
  }
}