@import 'variables.css';

.Inventory {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  padding: 0.5em;
  background: var(--background-dark-semiTransparent);
  color: var(--colors-white);
  transform: translateX(-100%);
  transition: transform var(--timing-fast);

  &.visible {
    transform: translateX(0);
  }

  &-heading {
    width: 100%;
    position: relative;
    padding: 0 0 10px;
  }

  &-title {
    text-transform: uppercase;
    font-weight: 200;
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
  }
}