.InventoryGroup {
  display: flex;
  flex-direction: column;

  &.active {
    flex-grow: 1;
  }

  .InventoryGroup-heading {
    background-color: transparent;
    transition: background-color 0.25s linear;

    .active & {
      background-color: rgba(255,255,255,0.25);
    }
  }
}