@import 'variables.css';

.InventorySources {
  position: relative;
  flex-shrink: 0;

  &-back {
    color: var(--colors-grey);
    transition: background-color var(--timing-fast) ease-out;
    padding: 0.5em 4px;
    border-radius: 2px;

    &-cog {
      cursor: pointer;
      font-size: 16px;
      position: absolute;
      top: 6px;
      left: 4px;
      width: 1em;
      height: 1em;
      display: inline-block;
      margin-right: 4px;
      opacity: 0.5;
      background-image: url('/images/ui/gear.svg');
      background-repeat: no-repeat;
      background-size: contain;
      transition: opacity var(--timing-fast) ease-out;
    }

    &-sources {
      margin-left: 22px;
      line-height: 1.2em
    }

    &:hover {
      background-color: rgba(255,255,255,0.15);
      cursor: pointer;

      &-cog {
        opacity: 0.65;
      }

      &-sources {
        color: var(--colors-grey);
      }
    }
  }

  &-menu {
    position: absolute;
    top: 0; left: 0;
    max-width: 240px;

    &-source {

    }
  }
}