@import 'variables.css';

/**
 * proxy item for DND operations
 */
.InventoryItemProxy {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  font-weight: bolder;
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 0 2rem 0 2rem;
  cursor: pointer;
}

.InventoryItem {
  display: block;
  font-size: 12px;
  cursor: default;

  &.hasImage {
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.selected {
    background-color: rgba(255,255,255,0.2);
  }

  &-item {
    display: inline-block;
    padding: 2px 5px;
    margin: 1px 0;
    width: 100%;
    border-radius: 3px;
    transition: background-color var(--timing-fast) ease-out;

    &:hover,
    .isDragging & {
      background-color: var(--colors-selected);
      transition: 0s;
    }
  }

  &-image {
    width: 27px;
    height: 27px;
    margin-right: 0.5em;
    background: transparent;
  }
}
