@import 'variables.css';

/**
 * proxy item for DND operations
 */
.InventoryItemProxy {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  font-weight: bolder;
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 0 2rem 0 2rem;
}

.InventoryItem {
  display: block;
  font-size: 12px;

  &.hasImage {
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-item {
    display: inline-block;
    padding: 1px 5px;
    border-radius: 3px;

    &:hover,
    .isDragging & {
      background-color: var(--colors-selected);
    }
  }

  &-image {
    width: 27px;
    height: 27px;
    margin-right: 0.5em;
    background: transparent;
  }
}
