@import './variables.css';

.InventoryGroup {
  display: flex;
  flex-direction: column;

  .InventoryGroup-heading {
    height: 2.5em;
    padding: 0.5em 1em;
    margin: 0 -var(--SidePanel-width-padding-content);
    font-size: 1.25em;
    font-weight: 200;
    background-color: rgba(255,255,255,0.25);
  }

  &.active {
    flex-grow: 1;

    .InventoryGroup-heading {
      background-color: transparent;
    }
  }

  &-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.75em 0;
  }
}