@import './variables.css';

.ListOptions {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 0.5em;
  overflow-y: scroll;

  &:empty {
    display: none;
  }

  &-explanation {
    color: var(--colors-grey);
    padding: 0.25em 0 0.5em;
  }
}