@import 'variables.css';

.ListOption {
  display: block;
  font-size: 12px;
  cursor: default;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  padding: 2px 5px;
  margin: 1px 0;
  user-select: none;

  &-check {
    display: inline-block;
    width: 2em;
    opacity: 0;
  }

  &-name {

  }

  &.selected {
    color: var(--colors-selected);
    font-weight: bold;

    .ListOption-check {
      opacity: 1;
    }

  }

  &:hover {
    background-color: var(--listItem-background);
  }

  .isFrozen > & {
    cursor: default;

    &.selected {
      color: var(--colors-grey);
    }

    &:hover {
      background-color: inherit;
    }
  }
}