@import './variables.css';

.OrderList {

  &-group {
    padding-bottom: 0.5em;
    user-select: none;

    &-heading {
      color: var(--colors-blueBlack);
    }

    &-names,
    &-time {
      color: var(--colors-grey);
    }

    &-action {
      color: var(--colors-bluetext);
      padding-left: 0.5em;
      cursor: pointer;
    }
  }
}