@import './variables.css';
@import './form.css';

.order-form {
  width: 70rem;

  .order-page {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 24rem;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fontsize);
    width: 100%;
    padding: 0;
    margin: 0;

    /*remove default padding / margin from form css*/
    * {
       margin: 0;
       padding: 0;
    }
  }
  .row .row-checkbox {
    display: flex;
    align-items: center;

    input {
      width: 2rem;
    }
  }
  .row-left {
    text-align: right;
    color: var(--textcolor);
    margin: 0 1rem 0 0;
  }
  .row-right {
    text-align: left;
    color: var(--textcolor);
  }

  .page1 .row {
    height: 3.5rem;
  }
  .page3 .row {
    margin-bottom: 0.5rem;
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }

  .buttons {
    text-align: center;
  }

  .disabled {
    pointer-events: none;
  }

  .nav-left-right {
    width: 22rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--textcolor);
    cursor: pointer;

    &:hover {
      background-color: whitesmoke;
    }

    .chevron {
      font-size: 4rem;
      font-family: Arial;
      width:2rem;
    }
    .right {
      text-align: right;
    }
    .text {
      font-size: var(--fontsize);
      text-align: center;
      line-height: 1rem;
      margin: 0;
      padding: 0;
    }
  }

}
