.Picker {
  line-height: 0;

  &-content {

  }

  &-item {
    display: inline-block;
    width: 4em;
    height: 4em;
    margin: 1px;
    border: 2px solid transparent;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgba(255,255,255,0.2);
    background-size: contain;
    text-align:center;

    &.active {
      cursor: default;
      border-color: white;
    }
  }
}