@import 'variables.css';

.Picker {
  line-height: 0;
  display: flex;

  &-content {
    display: inline-block;
    margin: 0 auto;

    //clearfix
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &-item {
    float: left;
    width: 54px;
    height: 54px;
    margin: 1px;
    border: 2px solid transparent;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgba(255,255,255,0.2);
    background-size: contain;
    text-align:center;
    transition: border-color var(--timing-fast) ease-out;

    &:nth-child(4n + 1) {
      clear: left;
    }

    &:hover {
      border-color: rgba(255,255,255,0.5);
    }

    &.active {
      cursor: default;
      border-color: white;
    }

    svg {
      opacity: 0.5;
    }

    &.active svg {
      opacity: 1;
    }
  }

  &.readOnly {
    .Picker-item {
      cursor: default;

      &:hover {
        border-color: inherit;
      }
    }
  }
}
