@import 'variables.css';

.ProjectHeader {
  display: flex;
  flex-shrink: 0;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  color: var(--colors-blueGreyLighter);
  cursor: default;

  /* left side */
  &-info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: 100%;
  }

  &-title {
    font-size: 16px;
  }

  &-description {
    word-wrap: break-word;
    white-space: pre-wrap;
    max-height: 4.25em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* right side */
  &-actions {
    align-self: center;
  }

  &-detailToggle {
    padding: 1em;
    cursor: pointer;
  }

  &.focused {
    background-color: var(--colors-grey);
  }
}
