@import 'variables.css';

.ProjectHeader {
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: space-between;

  /* left side */
  &-info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  &-breadcrumbs {
    padding-bottom: 10px;
  }

  &-breadcrumb {
    text-decoration: none;
    color: var(--colors-greyMedLight);
  }

  &-lead {
    text-transform: uppercase;
  }

  &-breadcrumb-separator {
    margin: 0 0.5em;
    font-weight: 100;
    color: var(--colors-grey);
  }

  &-title {

  }

  &-description {
    color: var(--colors-greyMedLight);
  }

  /* right side */
  &-actions {
    align-self: center;
  }

  &-detailToggle {
    padding: 1em;
    cursor: pointer;
  }
}