.sceneGraph {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 1px solid lightgray;
}
.sceneGraph {
  /*ase node type in scene graph*/
  .node {
    position: absolute;
    display: inline-block;
    transform-origin: 0 0;
  }
  /*text overlay for nodes*/
  .nodetext {
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  /*base class for html based glyph*/
  .html-glyph {
    position: absolute;
    display: inline-block;
  }
}
