
.sceneGraph {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
/* any element with an animated transform */
.transform-animated {
  transition: transform 400ms ease, width 400ms ease;
}
/* test user interface */
.userInterface {
  position: absolute;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: default;
}
.userInterface {
  /* selection box class */
  .selection-box {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    border: 4px solid dodgerblue;
  }
}
.sceneGraph {
  /*ase node type in scene graph*/
  .node {
    position: absolute;
    display: inline-block;
    transform-origin: 0 0;
  }
  /*text overlay for nodes*/
  .nodetext {
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    user-select: none;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  /*base class for html based glyph*/
  .html-glyph {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
  }
}

.construct-viewer {
  margin: 1rem 1rem 0 1rem;
  width: calc(100% - 2rem);
  height: 20rem;
  border: 1px solid gray;
  overflow: auto;
}
