:root {

  /* Typography
  ==================== */

  --colors-white: #ffffff;
  --colors-greyDark: #666666;
  --colors-grey: #808080;
  --colors-greyMedLight: #999999;
  --colors-greyLight: #e6e6e6;
  --colors-bluegrey: #292D40; /*canvas*/
  --colors-bluegreyLight: #444753; /*detail*/
  --colors-bluegreyDark: #181B26; /*sides*/
  --colors-selected: #4186ff;

  --colors-text: #222;

  --font-size-text: 12px;
  --font-size-heading: 11px;

  /* Typography
  ==================== */

  --font-family-base: Helvetica, sans-serif;

  /* Media queries breakpoints
  ==================== */

  --screen-xs-min: 480px; /* Extra small screen / phone */
  --screen-sm-min: 768px; /* Small screen / tablet */
  --screen-md-min: 992px; /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */

  /* Layout
 ==================== */

  --SidePanel-width-padding-content: 14px;
  --SidePanel-width-padding-heading: 10px;
  --SidePanel-trigger-width: 17px;
  --width-SidePanel-closed: 50px;
  --width-SidePanel-open: 300px;

  --GlobalNav-width-chrome: 50px;

  /* Backgrounds
 ==================== */

  --background-dark-semiTransparent: rgba(0,0,0,0.9);

  /* Timing
  ==================== */

  --timing-extrafast: 0.05s;
  --timing-fast: 0.15s;

  /* Z Order
  =================== */
  --zMenu: 100000;
  --zMenuContainer: 1000;
  --zModal:90000;

  /* Modal windows
  ==================== */
  --modal-radius: 3px;
  --modal-element-height: 3rem;
  --modal-inputcolor: #E1E2E5;
  --modal-textcolor: #747784;
  --modal-primarycolor: #343A4D;
  --modal-errorcolor: #FF6A5E;
  --modal-fontsize: 1.25rem;
}
