:root {

  /* Typography
  ==================== */

  --colors-white: #ffffff;
  --colors-greyDark: #666666;
  --colors-grey: #cccccc;
  --colors-greyLight: rgb(55,57,77);
  --colors-selected: #88aaff;

  /* Typography
  ==================== */

  --font-family-base: Helvetica, sans-serif;

  /* Media queries breakpoints
  ==================== */

  --screen-xs-min: 480px; /* Extra small screen / phone */
  --screen-sm-min: 768px; /* Small screen / tablet */
  --screen-md-min: 992px; /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */

  /* Layout
 ==================== */

  --SidePanel-trigger-width: 25px;
  --width-SidePanel-closed: 50px;
  --width-SidePanel-open: 300px;

  /* Backgrounds
 ==================== */

  --background-dark-semiTransparent: rgba(0,0,0,0.9);

  /* Timing
  ==================== */

  --timing-fast: 0.15s;
}
