:root {

  /* Typography
  ==================== */

  --colors-white: #ffffff;
  --colors-greyDark: #666666;
  --colors-grey-duncan: #cccccc;
  --colors-greyLight-duncan: rgb(55,57,77);
  --colors-grey: #808080;
  --colors-greyMedLight: #999999;
  --colors-greyLight: #e6e6e6;
  --colors-selected: #88aaff;

  --colors-text: #222;

  --font-size-text: 12px;
  --font-size-heading: 11px;

  /* Typography
  ==================== */

  --font-family-base: Helvetica, sans-serif;

  /* Media queries breakpoints
  ==================== */

  --screen-xs-min: 480px; /* Extra small screen / phone */
  --screen-sm-min: 768px; /* Small screen / tablet */
  --screen-md-min: 992px; /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */

  /* Layout
 ==================== */

  --SidePanel-width-padding-content: 14px;
  --SidePanel-width-padding-heading: 10px;
  --SidePanel-trigger-width: 17px;
  --width-SidePanel-closed: 50px;
  --width-SidePanel-open: 300px;

  --GlobalNav-width-chrome: 50px;

  /* Backgrounds
 ==================== */

  --background-dark-semiTransparent: rgba(0,0,0,0.9);

  /* Timing
  ==================== */

  --timing-fast: 0.15s;
}
